

// Screens sizes
$maxSmallMobile: "(max-width: 576px)";
$maxMiniMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMaxSmall: "(min-width: 768px) and (max-width: 991px)";
$maxSmall: "(max-width: 991px)";
$minMidium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

// All colors
$darkColor: #05002A;
$grayColor: #363255;
$whiteColor: #FFFFFF; 
$redColor: #F6403D;
$blueColor: #150655;
$skyColor: #391CB7;
$skyLightColor: #482AC6;
$orgnizationColor: #5932FF;
$attandanceColor: #F6AB3D;
$enterColor: #F6403D;
$excutionColor: #00DDE7;
$designsColor: #5932FF;
$entertainmentColor: #F6403D;
$eventsColor: #F6AB3D;
$borderColor: #6236FF;
$blueBorderColor: #6236FF;
$yellowBorderColor: #F7B500;
$perpelBorderColor: #00DDE7;
$arrangeColorWithOpacity: rgba(72, 42, 198, 0.38);